*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  position: relative;
}

.fondo-borroso{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(5px); 
  z-index: 1;
}

.contenedor-perfil{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 21px;
}