*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  position: relative;
}

.fondo-borroso{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(5px); 
  z-index: 1;
}

.contenedor-perfil{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;  
  border-radius: 21px;
  width: 800px;
  height: 750px;
  font-size: 18px;
  box-shadow: 0 0px 30px 7px #00459e,
              0 0px 30px 6px #ffffff;
}

.perfil__rol-contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.perfil__rol{
  font-size: 40px;
}

.btn-atras{
  font-size: 60px;
  cursor: pointer;
  color: #696969;
  transition: 0.5s;
}

.btn-atras:hover{
  color: #000;
}

.perfil__nombre{
  font-weight: normal;
}

.perfil__separador{
  background-color: #004A8F;
  margin: 0 -20px;
  padding: 5px 20px;
  color: #fff;
  font-weight: 590;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.perfil__contenedor-documento{
  display: flex;
  align-items: center;
  gap: 40px;
}

.perfil__campo{
  font-weight: 600;
  margin: 15px 0;
}

.perfil__contenedor-documento .perfil__campo{
  margin-bottom: 0;
}

.perfil__campo--margen{
  margin: 15px 0;
}

.perfil__valor{
  font-weight: normal;
  margin-left: 10px;
}

.perfil__boton{
  height: 45px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  font-weight: bold;  
  background-color: #1595F1;
  border: none;
  border-radius: 12px;
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.fondo-borroso .contenedor-perfil .table{
  margin: 30px 0;
}

.main .table{
  height: 250px;
}