<!DOCTYPE html>
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/perfil_cliente.css">
    <link rel="stylesheet" href="../css/clientes.css">

</head>
<body class="grid-body">
    <header class="encabezado">
        <img src="../img/Logo sin fondo.png" alt="logo" class="logo">
        <div class="info-encabezado">
            <h3 class="info-encabezado__titulo">Lady Mantilla</h3>
            <p class="info-encabezado__subtitulo">Administrador</p>
        </div>
    </header>
    <nav class="navigation-bar">
        <h3 class="navigation-bar__titulo">Opciones</h3>
        <ul class="navigation-bar__list">
            <li class="navigation-bar__item">
                <a href="#" class="navigation-bar__link" id="clientes">Clientes</a>
            </li>

            <li class="navigation-bar__item">
                <a href="#" class="navigation-bar__link">Mascotas</a>
            </li>

            <li class="navigation-bar__item">
                <a href="#" class="navigation-bar__link">Historiales Clinicos</a>
            </li>

            <li class="navigation-bar__item">
                <a href="#" class="navigation-bar__link">Programados</a>
            </li>

            <li class="navigation-bar__item">
                <a href="#" class="navigation-bar__link">Ventas</a>
            </li>

            <li class="navigation-bar__item">
                <a href="#" class="navigation-bar__link">Inventario</a>
            </li>
        </ul>
    </nav>

    <main class="main">
        <p class="main__message">¡Selecciona una opcion para empezar!</p>
        <!-- <div class="header">
            <h3 class="header__title">Lista de Clientes</h3>
            <div class="header__container-rigth">
                <button class="header__btn">Registrar cliente</button>
                <i class='bx bx-search header__search-logo'></i>
            </div>
        </div>
         
        <table class="table">
            <thead class="table__header">
                <tr class="table__row-header table__row">
                    <th class="table__cell-header table__cell">ID</th>
                    <th class="table__cell-header table__cell">Cliente</th>
                    <th class="table__cell-header table__cell">Mascotas</th>
                    <th class="table__cell-header table__cell">Telefono</th>
                    <th class="table__cell-header table__cell">Email</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr class="table__row-body table__row">
                    <td class="table__cell-body table__cell">1</td>
                    <td class="table__cell-body table__cell">Juan Perez</td>
                    <td class="table__cell-body table__cell">Perro</td>
                    <td class="table__cell-body table__cell">123456789</td>
                    <td class="table__cell-body table__cell">juanperez@gmail.com</td>
                </tr>

                <tr class="table__row-body table__row">
                    <td class="table__cell-body table__cell">2</td>
                    <td class="table__cell-body table__cell">Juan Perez</td>
                    <td class="table__cell-body table__cell">Perro</td>
                    <td class="table__cell-body table__cell">123456789</td>
                    <td class="table__cell-body table__cell">juanperez@gmail.com</td>
                </tr>
                
            </tbody>
        </table> -->
      
    </main>
    <script src="../JS/app.js" type="module"></script>
</body>
</html>
