<div class="fondo-borroso" id="view-perfil-cliente">
  <div class="contenedor-perfil">
    <div class="perfil__rol-contenedor">
      <h3 class="perfil__rol">Cliente: <span class="perfil__nombre">Johan Delgado</span></h3>
      <i class='bx bx-x btn-atras'  id="back-perfil"></i>
    </div>
    <p class="perfil__separador">Datos personales</p>
    <div class="perfil__contenedor_datos-personales">
      <!-- <div class="perfil__contenedor-documento">
      </div> -->
      <p class="perfil__campo">Tipo de documento: <span class="perfil__valor">C.C.</span></p>
      <p class="perfil__campo">Numero: <span class="perfil__valor">1095916126</span></p>
      <p class="perfil__campo">Direccion: <span class="perfil__valor">Cll 11 #27 A 39 / Arenales 1</span></p>
      <p class="perfil__campo">Telefono: <span class="perfil__valor">3157958759</span></p>
      <p class="perfil__campo perfil__campo--margen">E-mail: <span class="perfil__valor">johan24.dev@gmail.com</span></p>
    </div>
    <p class="perfil__separador">Lista de mascotas</p>

    <table class="table">
      <thead class="table__header">
          <tr class="table__row-header table__row">
              <th class="table__cell-header table__cell">ID</th>
              <th class="table__cell-header table__cell">Nombre</th>
              <th class="table__cell-header table__cell">Especie</th>
              <th class="table__cell-header table__cell">Raza</th>
              <th class="table__cell-header table__cell">Edad</th>
              <th class="table__cell-header table__cell">Sexo</th>
          </tr>
      </thead>
      <tbody class="table__body">
          <tr class="table__row-body table__row">
              <td class="table__cell-body table__cell">1</td>
              <td class="table__cell-body table__cell">Puchis</td>
              <td class="table__cell-body table__cell">Perro</td>
              <td class="table__cell-body table__cell">Bulldog</td>
              <td class="table__cell-body table__cell">4</td>
              <td class="table__cell-body table__cell">Hembra</td>
          </tr>

          <tr class="table__row-body table__row">
            <td class="table__cell-body table__cell">1</td>
            <td class="table__cell-body table__cell">Puchis</td>
            <td class="table__cell-body table__cell">Perro</td>
            <td class="table__cell-body table__cell">Bulldog</td>
            <td class="table__cell-body table__cell">4</td>
            <td class="table__cell-body table__cell">Hembra</td>
        </tr>
      </tbody>
  </table>
  <button class="perfil__boton">Registrar</button>
  </div>
</div>