<div class="fondo-borroso" id="view-registro-cliente">
        <div class="container-form">
            <div class="container-form__header">
                <i class='bx bx-left-arrow-alt icon' id="back-registro"></i>
                <h3 class="container-form__title">REGISTRO CLIENTE</h3>
            </div>
            <form action="" class="form">
                <div class="form__container-field">
                    <label for="" class="form__label">Nombre completo:</label>
                    <input type="text" class="form__input">
                </div>
                <div class="form_container-fields">
                    <div class="form__container-field">
                        <label for="" class="form__label">Tipo de documento:</label>
                        <input type="text" class="form__input">
                    </div>
                    <div class="form__container-field">
                        <label for="" class="form__label">Numero:</label>
                        <input type="text" class="form__input">
                    </div>
                </div>
                <div class="form__container-field">
                    <label for="" class="form__label">Telefono</label>
                    <input type="text" class="form__input">
                </div>
                <div class="form__container-field">
                    <label for="" class="form__label">Correo electronico:</label>
                    <input type="text" class="form__input">
                </div>
                <div class="form__container-field">
                    <label for="" class="form__label">Direccion:</label>
                    <input type="text" class="form__input">
                </div>
                <div class="form__container-btns">
                    <button class="form__btn" id="registrar">Registrar</button>
                    <button class="form__btn form__btn--red">Cancelar</button>
                </div>
            </form>
        </div>
    </div>